# Fitbit SDK build output
build/
dist/

# Fitbit CLI cache / internal files
.fitbit/
.fitbit-build/

# Node dependencies (falls genutzt)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor settings (optional)
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Fitbit CLI log files (created when connecting devices)
log*.txt
logs/

# ServerURL 
config.js